<!DOCTYPE html>
<html>
<head>
    <title>Admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container-fluid nav-bar">
    <a class="nav-link" href="/admin/projects">Projects</a>
    <a class="nav-link" href="/admin/users">Users</a>
</div>
<div class="container create-holder">
    <form action="/admin/users" method="post">
        <div>
            <h1>Create New User</h1>
            <label>Username:</label>
            <input class="form-control" type="text" name="username" value="<%= pUsername %>"/>
            <% if(errUsername === 1){ %>
                <b>Username field can not be empty!</b>
            <% } else if (errUsername === 2) {%>
                <b>This username is taken, please choose another one!</b>
            <% } %>
            <br/>
        </div>
        <div>
            <label>Password:</label>
            <input class="form-control" type="text" name="password" value="<%= pPassword %>"/>
            <% if(errPassword === true){ %>
                <b>Password field can not be empty!</b>
            <% }%>
        </div>
        <div>
            <label>Access:</label>
            <input class="form-control" type="text" name="access" value="<%= pAccess %>"/>
            <% if(errAccess === true){ %>
            <b>Access field can not be empty!</b>
            <% }%>
        </div>

        <div>
            <!--<input type="submit" value="Submit"/>-->
            <% if(title === 'Create User'){ %>
                <button name="submit" value="create" type="submit">Add User</button>
            <% } else { %>
                <button name="submit" value="<%= pID %>" type="submit">Add User</button>
            <% } %>

        </div>
    </form>
</div>
</body>
</html>