<!DOCTYPE html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/css/huge.css" type="text/css" >
</head>

<body>

<div class="container-fluid">
    <h1>Hire me plz :0</h1>
</div>

</body>
</html>