<!DOCTYPE html>
<html>
<head>
    <title>Admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container-fluid nav-bar">
    <a class="nav-link" href="/admin/projects">Projects</a>
    <a class="nav-link" href="/admin/users">Users</a>
</div>
<div class="container">
    <div class="create-new">
        <a href="/admin/create-project">Create New Project</a>
    </div>
    <table class="table">
        <tr>
            <th>title</th>
            <th>description</th>
            <th>edit</th>
            <th>delete</th>
        </tr>
        <% projects.forEach(function(project){ %>
            <tr>
                <td><%= project.title %></td>
                <td><%= project.description %></td>

                <td>
                    <form action="/admin/update-project" method="post">
                        <button name="edit" value="<%= project.id %>" type="submit">Edit</button>
                    </form>
                </td>
                <td>
                    <form action="/admin/delete-project" method="post">
                        <button name="delete" value="<%= project.id %>" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        <% }) %>

    </table>
</div>
</body>
</html>